In [ ]:
import sqlite3

conn = sqlite3.connect("books.db")
cur = conn.cursor()

for row in cur.execute("SELECT title FROM books ORDER BY title"):
    print(row[0])

conn.close()

In [ ]:
with open("books2.csv", "w", newline="") as f:
    f.write("title,author,year\n")
    f.write("The Weirdstone of Brisingamen,Alan Garner,1960\n")
    f.write("Perdido Street Station,China Mi√©ville,2000\n")
    f.write("Thud!,Terry Pratchett,2005\n")
    f.write("The Spellman Files,Lisa Lutz,2007\n")
    f.write("Small Gods,Terry Pratchett,1992\n")

In [ ]:
import sqlite3

conn = sqlite3.connect("books.db")
cur = conn.cursor()
cur.execute("CREATE TABLE books (title TEXT, author TEXT, year INTEGER)")
conn.commit()
conn.close()

In [ ]:
import csv
import sqlite3

conn = sqlite3.connect("books.db")
cur = conn.cursor()

with open("books2.csv", newline="") as f:
    reader = csv.DictReader(f)
    for row in reader:
        cur.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)",
                    (row["title"], row["author"], int(row["year"])))

conn.commit()
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect("books.db")
cur = conn.cursor()

for row in cur.execute("SELECT title FROM books ORDER BY title"):
    print(row[0])

conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect("books.db")
cur = conn.cursor()

for row in cur.execute("SELECT title, author, year FROM books ORDER BY year"):
    print(row)

conn.close()

In [ ]:
from sqlalchemy import create_engine, text

engine = create_engine("sqlite:///books.db")

with engine.connect() as conn:
    result = conn.execute(text("SELECT title FROM books ORDER BY title"))
    for row in result:
        print(row.title)